imageio
imageio[ffmpeg]
video-diffusion-pytorch
huggingface_hub
transformers
sentencepiece
sacremoses
moviepy
pytest
psutil
einops-exts
rotary-embedding-torch
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
